.contribution-form {

  .row {
    display: flex;

    .column {
      flex: 50%;
      padding: 20px;
      &:first-of-type {
        border-right: 1px solid black;
      }
    }
  }

  form {
    .form-group {
      label[for=name],
      label[for=email] {
        min-width: 50px;
        margin-right: 10px;
      }
      label.choice {
        padding: 10px;
        border: 1px solid lightgrey;
        border-radius: 50px;
      }

      input[type=radio] {
        display: none;
        &:checked {
          + label.choice {
            background: lightgray;
          }
        }
      }
    }
  }
}

.conributions-page {
  .faqs {
    li {
      .small {
        color: $grey;
        display: block;
      }

      button {
        &:after {
          font-family: FontAwesome;
        }

        &.thumbs-up:after {
          content: '\f164';
        }

        &.thumbs-down:after {
          content: '\f088';
        }
      }

    }
  }
}

.contribution-cta {
  position: sticky;
  width: 100%;
  bottom: 0;
  height: 50px;
  background: cyan;
  z-index: 99;
}